.groupBubble {
  width: 800px;
  height: 2000px;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  position: relative;
  left: 150px;
}

.groupBubble h1 {
  text-align: center;
  background-color: rgb(0, 0, 0, 0.5);
}
